

<nav class="navbar navbar-expand-lg navbar-expand{-sm|-md|-lg|-xl} bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav collapse navbar-collapse">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/logout">Logout</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart">Cart</a>
    </li>
    <!-- Dropdown -->
    <div class="container">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle collapse navbar-collapse hand"  id="navbardrop" data-toggle="dropdown" aria-haspopup="true">
          Account
        </a>
        <div ngbDropdownMenu class="dropdown-menu">
          <a class="dropdown-item" href="#">My Orders</a>
          <a class="dropdown-item" routerLink="/admin-manageProduct">Manage Product</a>
          <a class="dropdown-item" href="/admin-orders">Manage  Orders</a>
          <a class="dropdown-item" routerLink="/logout">Logout</a>
        </div>
      </li>
    </div>
  </ul>
</nav>
<br>
  