
<div class="row">
  <div class="col-6">
    <form  class="table table-secondary" #f="ngForm" (ngSubmit)="Save(f.value)">
      <table >
          <thead >
            <tr>
              <th>Enter Product Name:</th>
              <th >
                  <input required #productName
                  name="productName"
                  ngModel aria-placeholder="Enter Product Name">
  
              </th>
                         
            </tr>
  
  
            <tr>
              <th >Enter Product Description:</th>
              <th >
                  <textarea required #productDescription
                  name="productDescription"
                  ngModel  rows="2" aria-placeholder="Enter Product Description">
                </textarea>
                  
              </th>
                         
            </tr>
  
  
  
            <tr>
              <th >Enter Product Price:</th>
              <th >
                  <input required #productPrice
                   type="number" 
                  name="productPrice"
                  ngModel aria-placeholder="Enter Product Price">
  
              </th>
                         
            </tr>
  
  
            <tr>
              <th >Enter Product Quantity:</th>
              <th >
                  <input required #productQuantity
                  type="number"
                  name="productQuantity"
                  ngModel aria-placeholder="Enter Product Quantity">
  
              </th>
                         
            </tr>
            <tr>
              <th >Upload Product Image:</th>
              <th >
                  <input required #productImage
                  type="file" 
                  class="form-control-file" id="upload"
                  name="productImage"
                  ngModel>
              </th>                      
            </tr>
            </thead>
            <tr>
              <th>
                  <button class="btn btn-success"  [disabled]="f.invalid">Save</button>
              </th>
              <th>
                  <button type="reset" class="btn btn-secondary">Clear</button>
              </th>
          </tr>
        </table>
  </form>
  
  </div>
  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <h5 class="card-title">{{productName.value}}</h5>
      <img class="card-img-top" [src]="productImage.value" >
      <div class="card-body"></div>
        <h6 class="card-text" >Price:{{productPrice.value}}</h6>
        <h6 class="card-text">Quantity{{productQuantity.value}}</h6>
          <p class="card-text">{{productDescription.value}}</p>
         
        
      </div>
    </div>
  </div>
</div>